:root {
  --light-gray: #f3f3f3;
  --dark-grey: #283747;
  --green-color: #035e21;
  --dark-text: #383b42;
  --dark-blue: #2e3192;
  --light-blue: #009db7;
  --mid-aqua: #1dd0d8;
  --light-aqua: #7ae3f4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

/* Navigation */

.navbar {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
}

.img-logo {
  width: 100px;
}

/* Jumbotron Hero */

.hero {
  height: 100vh;
  position: relative;
  /* background-image: url(/img/heroimg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center; */
  overflow: hidden;
}

.hero-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.hero-background img {
  width: 100%;
  height: 100%;
}

.hero-text-container {
  margin-top: 150px;
}

.hero-text {
  width: auto;
  background-color: #f1f1f1af;
  border-radius: 10px;
  z-index: 2;
}

.hero-text-dark-bg {
  width: auto;
  background-color: #4d4b4baf;
  border-radius: 10px;
  z-index: 2;
}

.waves-divider {
  position: absolute;
  bottom: -20px;
  left: 0;
  max-height: 300px;
  z-index: 5;
}

/* Get involved */

.get-involved a {
  color: var(--dark-text);
  text-decoration: none;
}

.involve-img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  /* margin: 3rem 5rem; */
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 15px 0px #000000;
  box-shadow: 0px 0px 15px 0px #000000;
}

.get-involved a img {
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
}
.get-involved a:hover img {
  transform: scale(1.1);
}

/* gallery */

.jumbotron .box {
  height: 300px;
}

.jumbotron .box img {
  width: 100%;
  height: 100%;
}

/* Programs */

.program-box {
  width: 100%;
}

.program-box .program img {
  width: 100%;
  border-radius: 10px;
}

/* Bible quote section */

.quote-section {
  position: relative;
  z-index: 1;
}

.bible-img {
  filter: opacity(0.1);
  width: 100%;
}

/* Footer */

.social-icons a i {
  font-size: 3rem;
}

/* About page */
.text-wrap-img {
  width: 100%;
  height: 300px;
}

/* Team section  */

#team {
  width: 100%;
  height: auto;
}

.title h2 {
  margin-bottom: 8rem;
}

/* Style the tab */
.tab {
  overflow: hidden;
  /* border: 1px solid #ccc; */
  /* background-color: #f1f1f1; */
}

/* Style the buttons that are used to open the tab content */
.tab .tablinks {
  width: 33.3%;
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px 10px 0 0;
  padding: 14px 16px;
  transition: all 0.3s ease-in-out;
}

.flag-container {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.flag-container img {
  width: 100%;
  height: 100%;
}

/* Change background color of buttons on hover */
.tab .tablinks:hover {
  /* background-color: #ddd; */
  background-color: var(--light-aqua);
}

/* Create an active/current tablink class */
.tab .tablinks.active {
  /* background-color: #ccc; */
  background-color: var(--light-aqua);
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  /* border: 1px solid #ccc; */
  border-top: none;
  border-radius: 0 0 10px 10px;
  background-color: var(--light-aqua);
}

.tabcontent-flex {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
}

.content-flex {
  width: 40%;
  min-width: 300px;
  height: auto;
  margin: 10px;
  /* padding: 0 30px; */
}

.tabcontent h4 {
  color: var(--dark-blue);
  text-align: center;
  margin-top: 5rem;
}

.tabcontent p {
  color: var(--dark-text);
  letter-spacing: 1px;
}
@media (max-width: 768px) {
  .hero.inner-page {
    width: 100%;
    height: 70vh;
    background-image: url(../img/kidseated.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    margin-top: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* .hero-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(71, 70, 70, 0.671);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  } */

  .hero-overlay h1 {
    /* color: var(--light-aqua); */
    font-size: 4rem;
    font-weight: 800;
    letter-spacing: 3px;
    margin-bottom: 2rem;
    text-transform: uppercase;
    padding: 20px;
  }

  .hero-overlay p {
    font-size: 1.8rem;
    color: #f1f1f1;
    font-weight: 500;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 1rem;
    padding: 20px;
  }

  /* about us */

  #mission {
    width: 100%;
    height: auto;
    padding: 10px 20px;
  }

  /* #mission h3 {
    margin-bottom: 3rem;
  } */

  /* #mission p {
    color: var(--dark-text);
    font-size: 2rem;
    margin-bottom: 3rem;
    text-align: left;
  } */

  /* span.spam-bold {
    color: var(--dark-blue);
    font-size: 2rem;
    font-style: italic;
  } */

  /* Team section  */

  #team {
    width: 100%;
    height: auto;
    padding: 10px 20px;
  }

  .title h2 {
    margin-bottom: 8rem;
  }

  /* Style the tab */
  .tab {
    overflow: hidden;
    /* border: 1px solid #ccc; */
    /* background-color: #f1f1f1; */
  }

  /* Style the buttons that are used to open the tab content */
  .tab .tablinks {
    width: 33.3%;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 12px;
    border-radius: 10px 10px 0 0;
    transition: all 0.3s ease-in-out;
  }

  /* .flag-container {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  } */

  /* .flag-container img {
    width: 100%;
    height: 100%;
  } */

  /* Change background color of buttons on hover */
  .tab .tablinks:hover {
    /* background-color: #ddd; */
    background-color: var(--light-aqua);
  }

  /* Create an active/current tablink class */
  .tab .tablinks.active {
    /* background-color: #ccc; */
    background-color: var(--light-aqua);
  }

  /* Style the tab content */
  .tabcontent {
    display: none;
    /* padding: 6px 12px; */
    /* border: 1px solid #ccc; */
    border-radius: 0 0 10px 10px;
    border-top: none;
    background-color: var(--light-aqua);
  }

  .tabcontent-flex {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
  }

  .content-flex {
    width: 40%;
    min-width: 300px;
    height: auto;
    margin: 10px;
    /* padding: 0 30px; */
  }

  .tabcontent h4 {
    color: var(--dark-blue);
    text-align: center;
    margin-top: 5rem;
  }

  .tabcontent p {
    color: var(--dark-text);
    letter-spacing: 1px;
  }
}
